# MANAGED BY ANSIBLE, DO NOT TOUCH

# Place configs for specific servers into this directory.
# First match will be used.
Include conf.d/*.conf

# Default settings.
Host *
  User {{ username }}
  TCPKeepAlive no
  ServerAliveInterval 120
  PreferredAuthentications publickey
  ForwardAgent no

  ControlMaster auto
  ControlPath ~/.ssh/control/%r.%h.%p.sock
  ControlPersist 1800
